.content{
    display: flex;
    flex-direction: column;
    height: 100%;    
}

mat-toolbar{    
    min-height: 56px;    
}

.main{    
    flex-grow: 1;
    overflow: auto;     
}

app-player{    
    min-height: 130px;    
}