<mat-toolbar color="primary" fxLayout="column">
  
  <mat-toolbar-row class="current-track-duration" fxFlex="36px" fxLayout="row" fxLayoutAlign="center">
      <div>{{ state?.readableCurrentTime }}</div>
      <mat-slider class="time-slider" min="0" [max]="state?.duration" step="1" [value]="state?.currentTime" (input)="onSliderChangeEnd($event)" [disabled]="state?.error || currentTrack === undefined"></mat-slider>
      <div>{{ state?.readableDuration }}</div>
  </mat-toolbar-row>

  <mat-toolbar-row class="media-action-bar" fxFlex="80px" fxLayout="row" fxLayoutAlign="center">
    
    <div class="current-track-info" *ngIf="deviceService.isDesktop()" fxFlex="100%">
      <div fxLayout="column" fxLayoutAlign="center">
        <span class="track-name">{{currentTrack.name}}</span>
        <span class="artist-album-name">{{currentTrack.artist?.name}} {{currentTrack.artist? '-' : ''}} {{currentTrack.album?.name}}</span>
      </div>
    </div>

    <div *ngIf="!deviceService.isDesktop()" fxFlex="100%" fxLayoutAlign="start">
      <button mat-button [disabled]="true">
        <mat-icon class="material-icons-round">shuffle</mat-icon>
      </button>
    </div>
    
    <div class="media-action-controls" fxFlex="220px" fxLayoutAlign="center">
        <button mat-button [disabled]="!state?.canPlay || isFirstPlaying()" (click)="previous()">
          <mat-icon mat-list-icon class="material-icons-round">skip_previous</mat-icon>
        </button>
        <div class="play-pause-action">
          <button mat-button (click)="play()" [disabled]="state?.error || !state?.canPlay" *ngIf="!state?.isPlaying">
            <mat-icon mat-list-icon class="material-icons-round">play_circle_outline</mat-icon>
          </button>
          <button mat-button (click)="pause()" *ngIf="state?.isPlaying">
            <mat-icon mat-list-icon class="material-icons-round">pause_circle_outline</mat-icon>
          </button>
        </div>
        <button mat-button [disabled]="!state?.canPlay || isLastPlaying()" (click)="next()">
          <mat-icon class="material-icons-round">skip_next</mat-icon>
        </button>      
    </div>
    
    <div class="playback-action-controls" fxFlex="100%" fxLayoutAlign="end">
      <button mat-button *ngIf="deviceService.isDesktop()" [disabled]="true">
        <mat-icon class="material-icons-round">shuffle</mat-icon>
      </button>
      <button mat-button (click)="toggleRepeat()">
        <mat-icon class="material-icons-round" *ngIf="repeat !== 1" [ngStyle]="{'color': repeat === 2 ? 'rgba(255, 255, 255, 0.3)' : 'rgba(255, 255, 255, 1)'}">repeat</mat-icon>
        <mat-icon class="material-icons-round" *ngIf="repeat === 1">repeat_one</mat-icon>
      </button>
    </div>    

  </mat-toolbar-row>

</mat-toolbar>