<mat-toolbar color="primary" fxLayout="column">
  
  <mat-toolbar-row fxFlex="45px" fxLayout="row">
      {{ state?.readableCurrentTime }}
      <mat-slider class="time-slider" min="0" [max]="state?.duration" step="1" [value]="state?.currentTime" (input)="onSliderChangeEnd($event)" [disabled]="state?.error || currentTrack === undefined"></mat-slider>
      {{ state?.readableDuration }}
  </mat-toolbar-row>

  <mat-toolbar-row class="media-action-bar" fxFlex="90px" fxLayout="row" fxLayoutAlign="center">
    
    <div class="current-track-info" fxFlex="100%" >
      <div *ngIf="deviceService.isDesktop()">
        <div>{{currentTrack.name}}</div>
        <div>{{currentTrack.artist?.name}} {{currentTrack.artist? '-' : ''}} {{currentTrack.album?.name}}</div>
      </div>
    </div>
    
    <div class="media-action-controls" fxFlex="200px" fxLayoutAlign="space-around">
        <button mat-button [disabled]="!state?.canPlay || isFirstPlaying()" (click)="previous()">
          <mat-icon mat-list-icon>skip_previous</mat-icon>
        </button>
        <button mat-button (click)="play()" [disabled]="state?.error || !state?.canPlay" *ngIf="!state?.isPlaying">
          <mat-icon mat-list-icon>play_circle_filled</mat-icon>
        </button>
        <button mat-button (click)="pause()" *ngIf="state?.isPlaying">
          <mat-icon mat-list-icon>pause</mat-icon>
        </button>
        <button mat-button [disabled]="!state?.canPlay || isLastPlaying()" (click)="next()">
          <mat-icon>skip_next</mat-icon>
        </button>      
    </div>
    
    <div class="playback-action-controls" fxFlex="100%" fxLayoutAlign="end" fxLayoutAlign.xs="center">
      <button mat-button (click)="toggleRepeat()">
        <mat-icon mat-list-icon *ngIf="repeat !== 1" [ngStyle]="{'color': repeat === 2 ? 'grey' : 'white'}">repeat</mat-icon>
        <mat-icon mat-list-icon *ngIf="repeat === 1">repeat_one</mat-icon>
      </button>
    </div>    

  </mat-toolbar-row>

</mat-toolbar>