.mat-toolbar {  
  .mat-toolbar-row {
    width: 100%;      
    max-height: 50px;
  }
}

.time-slider {
  width: 100% !important;
  margin-left: 20px;
  margin-right: 20px;
}

.media-action-bar {                  
  padding: 2.5rem;      
  justify-content: center;
  .mat-icon {
    height: 48px !important;
    width: 48px !important;
    font-size: 48px !important;
  }
}