.container {
    display: flex;
    justify-content: center;
    .content {
        display: flex;
        flex-direction: column;    
        margin-left: 15px;
        margin-right: 15px;        
        width: 100%;
        max-width: 1880px;
    
        .info {
            display: flex;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    
        .track-list {
            table {
                width: 100%;
            }
            tr.audio-track-row:hover{
                background: lightslategray;
            }
            tr.audio-track-row.selected{
                background: lightslategray;
            }
        }
    }
}
