.content{
    display: flex;
    justify-content: center;
    .artist-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1880px;
        @media only screen and (min-width: 768px) {
            justify-content: flex-start;
        }
    }
}

.mat-card{
    width: 148px;
    height: 136px;
    margin: 4px;
    .mat-card-content {
        display: flex;
        flex-flow: column-reverse;
        height: 100%;
        width: 100%;
    }
}

.mat-card:hover {
    -webkit-box-shadow: 3px 3px 5px 6px rgb(185, 183, 183);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px rgb(185, 183, 183);  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px rgb(185, 183, 183);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}